.navbar-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scroll-button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-items {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.menu-items::-webkit-scrollbar {
    height: 4px;
}

.menu-items::-webkit-scrollbar-thumb {
    background: transparent;
}

.menu-items::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.menu-item {
    flex: none;
    opacity: 0.2;
}

.menu-items::before,
.menu-items::after {
    content: '';
    width: 20px;
}

.selected {
    opacity: 1;
}