/* @import url(https://db.onlinewebfonts.com/c/d3661cda6871e1f820836d12b6322858?family=ALS+Hauss+Variable); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 400;
    src: url("./assets/fonts/als-hauss/als_hauss_regular.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 500;
    src: url("./assets/fonts/als-hauss/als_hauss_medium.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 700;
    src: url("./assets/fonts/als-hauss/als_hauss_bold.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 900;
    src: url("./assets/fonts/als-hauss/als_hauss_black.otf");
}

html {
    background: #F5F5F5;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

* {
    font-family: "ALS Hauss Variable";
}

.expanded-card::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FFF;
    z-index: 11;
}

.drop-shadow-icon {
    filter: drop-shadow(0 1px 2px #4FCC9B0d) drop-shadow(0 1px 1px #4FCC9B0d);
    /* filter: drop-shadow(0 1px 1px #4FCC9B0d); */
}